<h1>Flatiron</h1>

<h2>Team Motto: <%= params[] %></h2>

<h2>Hero Name: <%= Some erb shit probably %></h2>

<p>Hero Power: <%= Some erb shit probably %></p>
<p>Hero Biography: <%= Some erb shit probably %></p>

<h2>Hero Name: <%= Some erb shit probably %></h2>

<p>Hero Power: <%= Some erb shit probably %></p>
<p>Hero Biography: <%= Some erb shit probably %></p>

<h2>Hero Name: <%= Some erb shit probably %></h2>

<p>Hero Power: <%= Some erb shit probably %></p>
<p>Hero Biography: <%= Some erb shit probably %></p>
